body {
  background: #eeeeee;
  font-family: "Merriweather", serif;
  font-family: var(--font-family-primary, "Merriweather", serif);
  margin: 0;
}

h1 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2rem;
  font-weight: 700;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0;
}

h4 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1rem;
  font-weight: 700;
  margin: 2.33em 0;
}

.site-header.header-image {
  background: url(../../../../user/media/header-image.jpg);
}
.site-header.header-image .site-branding {
  background: #000000;
  padding: 8rem 0;
  text-align: center;
  opacity: 0.5;
}
.site-header.header-image .site-branding .site-title {
  font-size: 3.125rem;
  margin: 0;
  padding: 0;
}
.site-header.header-image .site-branding .site-title a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px #000080;
}
.site-header.header-image .site-branding .site-description {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px #000080;
}

.menu-primary {
  background: #000000;
}
.menu-primary .menu-toggle {
  display: none;
}
.menu-primary .menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu-primary .menu-items .menu-item {
  display: inline-block;
  padding: 1rem;
}
.menu-primary .menu-items .menu-item a {
  border-bottom: none;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .menu-primary {
    padding: 0.5rem;
  }
  .menu-primary .menu-items .menu-item {
    display: none;
  }
  .menu-primary .menu-toggle {
    border: none;
    background: white;
    font-family: "Merriweather", serif;
    font-family: var(--font-family-primary, "Merriweather", serif);
    display: block;
    padding: 0.5rem;
    float: right;
  }
  .menu-primary.responsive .menu-items {
    margin-top: 2.8rem;
  }
  .menu-primary.responsive .menu-items .menu-item {
    display: block;
    text-align: left;
  }
}
.site-content {
  margin: 0 auto;
  max-width: 73.125rem;
  padding: 1.125rem;
}

.content-area {
  line-height: 1.8rem;
}
.content-area .post {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  margin-bottom: 1.125rem;
  padding: 1.125rem;
}
.content-area .post .entry-header {
  margin-bottom: 2rem;
  text-align: center;
}
.content-area .post .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.content-area .post .entry-header .entry-title a {
  text-decoration: none;
}
.content-area .page {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  margin-bottom: 1.125rem;
  padding: 1.125rem;
}
.content-area .page .entry-header {
  text-align: center;
}
.content-area .page .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.content-area .page .entry-header .entry-title a {
  text-decoration: none;
}

.right-sidebar .content-area {
  float: left;
  width: 70.5467372134%;
}
.right-sidebar .sidebar-area {
  float: right;
  width: 28.5714285714%;
}
.right-sidebar .sidebar-area .categories {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  margin-bottom: 1.125rem;
  padding: 1.125rem;
}
.right-sidebar .sidebar-area .categories .categories-title {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
.right-sidebar .sidebar-area .categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.right-sidebar .sidebar-area .categories ul li {
  line-height: 1.8rem;
}
.right-sidebar .sidebar-area .archives {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  margin-bottom: 1.125rem;
  padding: 1.125rem;
}
.right-sidebar .sidebar-area .archives .archives-title {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
.right-sidebar .sidebar-area .archives ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.right-sidebar .sidebar-area .archives ul li {
  line-height: 1.8rem;
}
.right-sidebar .sidebar-area .theme-details {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  margin-bottom: 1.125rem;
  padding: 1.125rem;
}
.right-sidebar .sidebar-area .theme-details .theme-details-title {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
.right-sidebar .sidebar-area .features {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.right-sidebar .sidebar-area .features .features-title {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
.right-sidebar .sidebar-area .features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.right-sidebar .sidebar-area .features ul li {
  line-height: 1.8rem;
}

.site-about {
  padding: 1rem 0;
}
.site-about .content-area {
  margin: 0 auto;
  max-width: 73.125rem;
}
.site-about .content-area .page {
  background: transparent;
  border: none;
}
.site-about .content-area .page .post-thumbnail img {
  height: 300px;
  width: 300px;
  box-shadow: 2px 2px 2px 2px black;
}

.site-portfolio {
  background: #ffffff;
  padding: 2rem 0;
}
.site-portfolio .content-area {
  margin: 0 auto;
  max-width: 73.125rem;
}
.site-portfolio .content-area .entry-header {
  text-align: center;
}
.site-portfolio .content-area .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.site-portfolio .content-area .entry-content {
  margin: 2rem 0;
}

.site-blog {
  padding: 2rem 0;
}
.site-blog .content-area {
  margin: 0 auto;
  max-width: 73.125rem;
}
.site-blog .content-area .entry-header {
  text-align: center;
}
.site-blog .content-area .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.site-blog .content-area .entry-content {
  margin: 2rem 0;
}

.site-footer {
  background: #000000;
  padding: 1rem;
  text-align: center;
}
.site-footer .site-info {
  color: #ffffff;
}

.alignleft {
  float: left;
  margin-right: 20px;
}

.aligncenter {
  display: block;
}

.alignright {
  float: right;
}

.alignwide {
  margin: 18px calc( ( 800px - 1170px ) / 2 );
  max-width: 1170px;
  width: auto;
}

.alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

.site-container:before,
.site-container:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.content-area:before,
.content-area:after,
.page:before,
.page:after,
.menu-primary:before,
.menu-primary:after {
  clear: both;
  content: "";
  display: table;
}

.portfolio .entry-header {
  text-align: center;
}

.has-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.125rem;
}

.has-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.125rem;
}

.caption {
  background: #cccccc;
  text-align: center;
}
.caption .caption-text {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  height: auto;
  margin: 0;
}

a {
  text-decoration: none;
}
