.site-content {
	.right-sidebar {
		margin: 0 auto;
		padding: 2rem 0;
		max-width: 73.125rem;

		.content-area {
			float: left;
			width: 69.230769230769231%;

			.post {
				margin-bottom: 3rem;
				
				.entry-header {
					text-align: center;

					.entry-title {
						margin: 0;
						padding: 0;
					}
				}

				.entry-metadata {
					.entry-author {
						font-style: italic;
	
						svg {
							height: 1rem;
							width: 1rem;
							padding-right: 0.2rem;
						}
					}
	
					.entry-date {
						font-style: italic;
						
						svg {
							height: 1rem;
							width: 1rem;
							padding: 0 0.2rem 0 0.5rem;
						}
					}
				}

				.post-thumbnail {
					margin: 1rem 0;
				}
			}


		}

		.sidebar-area {
			float: right;
			width: 29.230769230769231%;

			.categories {
				line-height: 1.8rem;
				margin-bottom: 2rem;

				.categories-title {
					margin: 0 0 0.5rem 0;
					padding: 0;
				}

				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}
			}

			.archives {
				line-height: 1.8rem;

				.archives-title {
					margin: 0 0 0.5rem 0;
					padding: 0;
				}

				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	.no-sidebar {
		margin: 0 auto;
		padding: 2rem 0;
		max-width: 73.125rem;

		.content-area {
			.entry-header {
				text-align: center;

				.entry-title {
					margin: 0;
					padding: 0;
				}
			}

			.entry-content {
				margin: 2rem 0;
			}
		}
	}
}