.site-header {
    background: color( black );

	&.header-image {
		background: url( '../../../../user/media/header-image.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}

	.site-branding {
		padding: 8rem 0;
		text-align: center;

		.site-title,
		.site-description {
			margin: 0;
			padding: 0;
		}

		.site-title {
			font-size: 4rem;
			margin: 0;
			padding: 0.5rem;

			a {
				border-bottom: none;
				color: color( white );
				text-decoration: none;
			}
		}

		.site-description {
			color: color( white );
			font-size: 1rem;
			padding: 1rem;
		}
	}
}