////
/// Generic imports.
///
/// This is the first point that real CSS is output. Resets, normalization,
/// fonts, etc. are best handled here. These are the base styles that other
/// styles will build upon.
///
/// @group  Generic
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://github.com/benlumia007/getbenonit
////

body {
	background: color( silver );
	font-family: font-family( primary );
	margin: 0;
}