.home {
	.about {
		background: #f0f0f0;

		.content-area {
			line-height: 2rem;
			margin: 0 auto;
			padding: 3rem 0;
			max-width: 73.125rem;
		
			.entry-header {
				text-align: center;

				.entry-title {
					margin: 0;
					padding: 0;
				}
			}

			.entry-content {
				.post-thumbnail {
					img {
						box-shadow: 0px 0px 10px black;
					}
				}
			}
		}
	}

	.portfolio {
		.content-area {
			line-height: 2rem;
			margin: 0 auto;
			padding: 3rem 0;
			max-width: 73.125rem;

			.entry-header {
				text-align: center;

				.entry-title {
					margin: 0;
					padding: 0;
				}
			}

			.entry-content {
				margin: 2rem 0;
			}
		}
	}

	.blog {
		background: #f0f0f0;

		.content-area {
			line-height: 2rem;
			margin: 0 auto;
			padding: 3rem 0;
			max-width: 73.125rem;

			.entry-header {
				text-align: center;

				.entry-title {
					margin: 0;
					padding: 0;
				}
			}

			.entry-content {
				margin: 2rem 0;

				.post-thumbnail {
					img {
						box-shadow: 0px 0px 10px black;
					}
				}
			}
		}

		.blog-header {
			text-align: center;

			.blog-title {
				font-size: 1.8rem;
				margin: 0;
				padding: 0;
			}
		}
	}
}