////
/// Generic imports.
///
/// This is the first point that real CSS is output. Resets, normalization,
/// fonts, etc. are best handled here. These are the base styles that other
/// styles will build upon.
///
/// @group  Generic
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://github.com/benlumia007/getbenonit
////

@import 'headings/index';
img,
figure {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
}

.post-thumbnail.alignleft img {
    float: left;
    height: 250px;
    width: 250px;
}